<ul class="list-group">
    {{#each collections as |collection|}}
        <li class="list-group-item">
            {{#link-to "photo-collection" collection.id}}
                <img src={{collection.photos.firstObject.thumbnailUrl}} alt={{collection.title}}> {{collection.title}} by {{collection.owner}}
            {{/link-to}}
        </li>
    {{/each}}
</ul>