{{#if isMyPhoto}}
    <a role="button" title="Process again" {{action "reprocessPhoto"}}>
        <span class="glyphicon glyphicon-refresh"></span>
    </a>
    <a role="button" title="Delete photo" {{action "deletePhoto"}}>
        <span class="glyphicon glyphicon-trash"></span>
    </a>
{{/if}}