<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">{{#link-to "photoCollection" collection.id}} {{collection.title}} {{/link-to}}</h4>
    </div>
    <div class="panel-body">
        {{collection.description}}
    </div>
</div>
