<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Upload</h4>
  </div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="imageTitle">Title</label>
        {{input type="text" value=title id="imageTitle" class="form-control"}}
      </div>
      <div class="form-group">
        <label for="imageCaption">Caption</label>
        {{textarea value=caption id="imageCaption" class="form-control"}}
      </div>
      {{file-upload url="/photos" title=title caption=caption}}
    </form>
  </div>
</div>